:root {
    --white: white;
    --black: black;
    --pink: #ef82b0;
    --blue: #2c5b9d;
    --light-blue: #87dcfb;
    --teal: #66afc8;
    --indigo: #d3bcfb;
    --purple: #aa86e4;
    --green: #87bfb3;
    --dark-green: #88bfb3;
    --yellow: #d6c786;
    --gray: #dfdfdf;
    --gray1: #808b96;
    --gray2: #737478;
    --gray3: #292a2f;
    --orange: #ef8775;
    --bright-red: #cf3126;
    --red: #7c3d38;
    --dark-red: #392e30;
    --highline: #2f3138;
    --highlight: #646f80;
    --highlight-inactive: #6e6e6e;
}

:root {
    --color: var(--black);
    --bg-color: var(--white);
}

:root {
    --nav-bg: var(--bg-color);

    --button-bg: var(--color);
    --button: var(--bg-color);

    --highlight: var(--white);
    --highlight-bg: var(--black);

    --navlink: var(--black);
    --navlink-bg: var(--bg-color);

    --navlink-hover: var(--white);
    --navlink-hover-bg: var(--black);

    --link: var(--pink);
    --link-bg: var(--bg-color);

    --link-hover: var(--white);
    --link-hover-bg: var(--black);

    --logo: var(--white);
    --logo-bg: var(--black);

    --dim: var(--gray2);

    --code: var(--pink);
    --code-bg: var(--gray);

    --active: var(--white);
    --active-bg: var(--black);
}
